<!DOCTYPE html>
<html>

<head>
  <title>Accord</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

  <script type="text/javascript">
    window.logo = "<%= image_url('/assets/splash/logo') %>";
    window.accord = "<%= image_url('/assets/splash/accord') %>";
    window.background = "<%= image_url('/assets/splash/background') %>";
    window.clouds = "<%= image_url('/assets/splash/clouds') %>";
    window.toonLeft = "<%= image_url('/assets/splash/toon-left') %>";
    window.toonRight = "<%= image_url('/assets/splash/toon-right') %>";
    window.splashImage1 = "<%= image_url('/assets/splash/splash-image-1') %>";
    window.splashImage2 = "<%= image_url('/assets/splash/splash-image-2') %>";
    window.splashImage3 = "<%= image_url('/assets/splash/splash-image-3') %>";
    window.github = "<%= image_url('/assets/splash/github') %>";
    window.linkedin = "<%= image_url('/assets/splash/linkedin') %>";
    window.arrow = "<%= image_url('/assets/server_form/arrow') %>";
    window.createMyOwn = "<%= image_url('/assets/server_form/key') %>";
    window.gaming = "<%= image_url('/assets/server_form/game') %>";
    window.music = "<%= image_url('/assets/server_form/message') %>";
    window.education = "<%= image_url('/assets/server_form/backpack') %>";
    window.scienceAndTech = "<%= image_url('/assets/server_form/flag') %>";
    window.entertainment = "<%= image_url('/assets/server_form/cheer') %>";
    window.door = "<%= image_url('/assets/server_form/door') %>";
    window.camera = "<%= image_url('/assets/server_form/camera') %>";
    window.compass = "<%= image_url('/assets/server_form/compass') %>";
    window.gamingIcon = "<%= image_url('/assets/explore/gaming-icon') %>";
    window.musicIcon = "<%= image_url('/assets/explore/music-icon') %>";
    window.educationIcon = "<%= image_url('/assets/explore/education-icon') %>";
    window.scienceAndTechIcon = "<%= image_url('/assets/explore/science-and-technology-icon') %>";
    window.entertainmentIcon = "<%= image_url('/assets/explore/entertainment-icon') %>";
    window.exploreHeader = "<%= image_url('/assets/explore/header') %>";
    window.defaultBanner = "<%= image_url('/assets/explore/default-banner') %>";
    window.downArrow = "<%= image_url('/assets/server/down-arrow') %>";
    window.xButton = "<%= image_url('/assets/server/x-button') %>";
    window.communityBackground = "<%= image_url('/assets/server/community-background') %>";
    window.communityHome = "<%= image_url('/assets/server/community-home') %>";
    window.cog = "<%= image_url('/assets/profile/cog') %>";
    window.defaultProfile = "<%= image_url('/assets/profile/default-profile') %>";
  </script>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>

</html>