<!DOCTYPE html>
<html>

<head>
  <title>Accord</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@100;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap" rel="stylesheet">
  
  <script type="text/javascript">
    window.clouds = "<%= image_url('/assets/splash/clouds.svg') %>";
    window.toonLeft = "<%= image_url('/assets/splash/toon-left.svg') %>";
    window.toonRight = "<%= image_url('/assets/splash/toon-right.svg') %>";
    window.github = "<%= image_url('/assets/splash/github.svg') %>";
    window.linkedin = "<%= image_url('/assets/splash/linkedin.png') %>";
    window.arrow = "<%= image_url('/assets/server_form/arrow.svg') %>";
    window.createMyOwn = "<%= image_url('/assets/server_form/key.svg') %>";
    window.gaming = "<%= image_url('/assets/server_form/game.svg') %>";
    window.music = "<%= image_url('/assets/server_form/message.svg') %>";
    window.education = "<%= image_url('/assets/server_form/backpack.svg') %>";
    window.scienceAndTech = "<%= image_url('/assets/server_form/flag.svg') %>";
    window.entertainment = "<%= image_url('/assets/server_form/cheer.svg') %>";
    window.door = "<%= image_url('/assets/server_form/door.svg') %>";
    window.camera = "<%= image_url('/assets/server_form/camera.svg') %>";
    window.compass = "<%= image_url('/assets/server_form/compass.png') %>";
    window.gamingIcon = "<%= image_url('/assets/explore/gaming-icon.png') %>";
    window.musicIcon = "<%= image_url('/assets/explore/music-icon.png') %>";
    window.educationIcon = "<%= image_url('/assets/explore/education-icon.png') %>";
    window.scienceAndTechIcon = "<%= image_url('/assets/explore/science-and-technology-icon.png') %>";
    window.entertainmentIcon = "<%= image_url('/assets/explore/entertainment-icon.png') %>";
  </script>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>

</html>