<!DOCTYPE html>
<html>

<head>
  <title>Accord</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">

  <script type="text/javascript">
    window.clouds = "<%= image_url('clouds.svg') %>";
    window.toonLeft = "<%= image_url('toon-left.svg') %>";
    window.toonRight = "<%= image_url('toon-right.svg') %>";
    window.github = "<%= image_url('github.svg') %>";
    window.linkedin = "<%= image_url('linkedin.png') %>";
  </script>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>

</html>